#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

table{
    margin-left: 5%;
    width: 90%;
}

#findDevices {
    font-size: 130%;
    margin-left: 35%;
    width: 350px;
    height: 50px;
    border-radius: 7px;
}

.add-button{
    margin-left: 30px;
    width: 210px;
    height: 50px;
    margin-bottom: 15px;
}

.remove-button{ 
    background-color: brown;
    color: white;
    margin-left: 20px;   
}

.off-button{
    background-color: brown;
    color: white;
}