#dropdownMenuButton{
	background-color: white;
	float: right;
	margin-top: -10px;
}

#greenDiv{
	height: 50px;
background: rgba(48,150,52,1);
background: -moz-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,150,52,1)), color-stop(100%, rgba(237,247,240,1)));
background: -webkit-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
background: -o-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
background: -ms-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
background: linear-gradient(to right, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309634', endColorstr='#edf7f0', GradientType=1 );
}

#backImg{
	height: 600px;
	width: 1700px;
}

#carouselExampleSlidesOnly{
	margin-top: -8px;
}

#title {
	font-family: 'Fjord One';
	  font-size: 45px;
  }
  

.display-1{
	margin-top: -100px;
}

.display-1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    font-family: 'Fjord One';
}

#author
{
  float: left;
  font-weight: bold;
  color: #5a5c60;
}
#date
{
  float: right;
  font-weight: bold;
  color: #5a5c60;
}
#articlehouse
{
  height: 100%
  float:right;
}
#paragraphs
{
  overflow-y: scroll;
  width:65%;
  height:500px;
  float:left;
	margin-left: 10px;
	margin-right: 14px;
	text-align:justify;
}

#rating
{
	width:60%;
display:inline-block;

}
#stars
{
	float:right;
	display: inline-block;
}
.buttons
{
	border-radius:10px;
	background-color: green;
	color: white;
}
#ratebutton
{
	float:right;
	margin-left: 10px;
	border-radius:10px;
	background-color: green;
	color: white;

}
