h5{
	display: inline-block;
}

#title {
	font-family: 'Fjord One';
	font-size: 45px;
}

#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}


#title {
	font-family: 'Fjord One';
	  font-size: 45px;
  }
  

#sortBy {
	display: inline-block;
	width: 40%;
}

#topic {
	display: inline-block;
	margin-right: 10%;
	width: 40%;
}

.selection {
	margin-top: 3%;
	margin-left: 65%;
}

#articleList {
	margin-top: 3%;
}

#stars {
    float: right;
    display: inline-block;
}

.checked {
  color: orange;
}

nav ul {
	overflow:hidden; 
	overflow-y:scroll;
	height: 470px; 
}

#modalcontent {
	width: 150%;
	margin-left: -15%;
	border-radius: 5%;
}



