#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

#title {
    font-family: 'Fjord One';
      font-size: 45px;
  }
  

.input {
    display: table-column;
    margin: 1%;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#appliance{
    height: 50px;
}

.custom-select {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
}

.addremovebtn {
    display: block;
    margin-bottom: 114px; 
    margin-left: 20px;
	background-color: Transparent; 
	background-repeat:no-repeat;
    border: none;
    outline: none;
}

.icons {
	display: inline-block; 
    width: 50px;
	height: 100%;
}

.selectText{
    margin-top: 40px;
    width: 400px;
}

.selectText p{
    margin-top: 30px;
}

.appliancesTable{
    width: 400px;
}

.appliancesTable{
    margin-right: 30px;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

thead{
    border-bottom: solid 1px black;
}

.leftCol{
    border-right: solid 1px #3d3d3d;
    padding: 10px;
}

.rightCol{
    padding: 10px;
}

.textInput{
    width: 30%;
}