#title {
	font-family: 'Fjord One';
	font-size: 45px;
}

#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

#title {
    font-family: 'Fjord One';
      font-size: 45px;
  }
  


#map {
   width: 80%;
   height: 400px;
   background-color: grey;
 }

#searchdiv {
	margin-bottom: 2%;
}