#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

.searchCriteria{
    width: 70%;
    align-content: left;
}

.selection label{
    display: table-column;
    margin: 1%;
    width: 100%;
    float: right;
    text-align: right;
    vertical-align: middle;  
}

.input {
    display: table-column;
    margin: 1%;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
}

.findButton {
    margin: 5%;
    clear: both;
}

.houseListContainer{
    width: 100%;
}

.house{
    display: block;
    clear: both;
    margin-bottom: 20px;
}

.houseList li img{
    width: auto;
    height: auto;
    max-width: 45%;
    max-height: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    float: left;
    display: inline-block;
}

.houseText{
    margin-left: 2%;
    width: 48%;
    display: inline-block;
    clear: both;
}

.houseText p{
    width: 100%;
    word-wrap: break-word;
}

.error{
    padding-left: 10px;
    width: 40%;
}