#dropdownMenuButton {
    background-color: white;
    float: right;
  margin-right: 3px;
	margin-top: -0.7%;

}

#title {
	font-family: 'Fjord One';
	font-size: 45px;
}

#greenDiv{
	height: 50px;
	background: rgba(48,150,52,1);
	background: -moz-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,150,52,1)), color-stop(100%, rgba(237,247,240,1)));
	background: -webkit-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
	background: -o-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
	background: -ms-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
	background: linear-gradient(to right, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309634', endColorstr='#edf7f0', GradientType=1 );
}

#carouselExampleSlidesOnly{
	margin-top: -8px;
}

#backImg{
    border-radius: 35px;
    font-family: 'Fjord One';
    margin-top: -10px;
}

#logInbtn {
	display: inline-block;
	margin-right: 1%;
	margin-top: -0.8%;
	margin-left: 80%;
}

#registerbtn {
	display: inline-block;
	margin-top: -0.8%;
}

.display-1 {
	margin-top: -100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    font-family: 'Fjord One';
}

