#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

table{
    margin-left: 5%;
    width: 90%;
}

#findDevices {
    font-size: 130%;
    margin-left: 35%;
    width: 350px;
    height: 50px;
    border-radius: 7px;
}

.add-button{
    margin-left: 30px;
    width: 210px;
    height: 50px;
    margin-bottom: 15px;
}

.remove-button{ 
    background-color: brown;
    color: white;
    margin-left: 20px;   
}

.off-button{
    background-color: brown;
    color: white;
}

.description-td{
    padding-left: 20px;
}


#statisticsDevices
{
  width:100%;
  float:left;
  align-items: center;
}
.dev
{
  width:100%;
  margin:5px;
}
#a1
{
  margin-bottom: 5px;

}
#a2
{
  margin-bottom: 5px;

}
#a3
{
  margin-bottom: 5px;

}
#estimate {
  padding:10px;
}

.statisticsDevicetitle
{
    overflow-x: scroll;
  width:30%;
  margin-left: 30px;
  float:left;
}
.statisticsDescriptions
{
    overflow-y: scroll;
    margin-left: 30px;
  width:55%;
  height: 40px;
  float:left;
}
#buttonDiv
{
  text-align: center;
}

.chart-container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.pie-chart-container {
  height: 360px;
  width: 360px;
  float: left;
}
.modal {
  display: none; /* Hidden by default */
  position:sticky; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: 30px;
  width:90%; /* Full width */
  height: 100%; /* Full height */
  overflow:scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

#modalButtons
{
  margin-top:100px;
}

#title {
  font-family: 'Fjord One';
	font-size: 45px;
}

.modal{
  width: 40%;
  margin-left: 24%;
  margin-top: 6%;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;/* 15% from the top and centered */
  overflow-y: scroll;
  border: 1px solid #888;
  position: center;
  padding-left: 24%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}


#statButton
{
  padding:10px;
  margin:20px;
}

.find-butt{
    margin-left: 40%;
}
