#greenAltImg {
    display: block;
    margin: auto;
}

.applianceName, .applianceType {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

.alternativesBtn {
    background-color: green;
}

.applianceImgContainer {
    display: inline-block;
    width: 30%;
}

.applianceDescription {
    display: inline-block;
    width: 65%;
}

#title {
    font-family: 'Fjord One';
      font-size: 45px;
  }
  

.applianceImg {
    width: 100%;
    vertical-align: unset;
}

.customAccordion {
    margin: 5% 1% 1%;
    visibility: hidden;
}

#errorMessage {
    visibility: hidden;
	  width:60%;
    position: absolute;
    top: 70%;
  
}