#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

.searchCriteria{
    margin-left: 4%;
    margin-top: 4%;
    width: 100%; 
}

#title {
    font-family: 'Fjord One';
      font-size: 45px;
  }
  

label{
    display: table-column;
    font-style: normal;
    margin: 1%;
    width: 100%;
    float: right;
    text-align: right;
    vertical-align: middle;  
}

.input {
    display: table-column;
    margin: 1%;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    background-size: auto auto;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.adviceButton{
    margin-top: 10px;
}

#myProgress {
    margin-top: 20px;
    width: 70%;
    height: 60px;
    background-color: grey;
    border-radius: 200px;
  }

#myBar {
    width: 0%;
    height: 60px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 60px; /* To center it vertically */
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

.error{
    padding-left: 10px;
    width: 40%;
}

#ourRecomendation {
    width: 60%;
    margin-top: 35px;
    margin-left: 20%;
    font-size: 16px;
}