
#main
{
  overflow-y: scroll;
  width:65%;
  height:500px;
  float:left;
	margin-left: 10px;
	margin-right: 14px;
	text-align:justify;
}



#main button
{
  text_aling: center;
}

#remotehouse
{
  height: 100%;
  width:35%
  float:right;
}
.loader {

  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#buttonDiv
{
  text-align:center;
}
hr {
    background-color: black;
    font-weight:bold;
    display: block;
    height: 5px;
}
#devices
{
  align-items: center;
  width:100%;
  float:left;
  visibility:hidden;
  

}

#d1
{
	height:400px;
  width:100%;
}
#d2
{
	height:400px;
  width:100%;
}
#d3
{
	height:400px;
  width:100%;
}

.smallimage
{
  float:left;
  height:15px;
  width:15px;

  margin-left: 25px;
}
.devicetitle
{
  margin-left: 25px;
  float:left;
  width:20%;
}

.descriptions
{
  margin-left: 25px;
  float:left;
 
  width:30%;
  height:40px;
}
.deviceButtons
{
  margin-left: 30px;
  margin-bottom: 30px;
  float:left;
  width:10%;

}
#onB1
{
  background-color: red;
  width:5%;}
#onB2
  {
    background-color: red;
    width:5%;}
#onB3
    {
      background-color: red;
      width:5%;}

  #l1
      {
float:right;
        }
  #l2
    {float:right;

      }
  #l3
    {float:right;

      }

.hidden
{
  visibility:hidden;
}
