#dropdownMenuButton {
    background-color: white;
    float: right;
    margin-top: -10px;
}

#greenDiv {
    height: 50px;
    background: rgba(48, 150, 52, 1);
    background: -moz-linear-gradient(left, rgba(48, 150, 52, 1) 0%, rgba(237, 247, 240, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48, 150, 52, 1)), color-stop(100%, rgba(237, 247, 240, 1)));
    background: -webkit-linear-gradient(left, rgba(48, 150, 52, 1) 0%, rgba(237, 247, 240, 1) 100%);
    background: -o-linear-gradient(left, rgba(48, 150, 52, 1) 0%, rgba(237, 247, 240, 1) 100%);
    background: -ms-linear-gradient(left, rgba(48, 150, 52, 1) 0%, rgba(237, 247, 240, 1) 100%);
    background: linear-gradient(to right, rgba(48, 150, 52, 1) 0%, rgba(237, 247, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#309634', endColorstr='#edf7f0', GradientType=1);
}

#backImg {
    height: 600px;
    width: 1700px;
}

#carouselExampleSlidesOnly {
    margin-top: -8px;
}

.display-1 {
    margin-top: -100px;
}

.display-1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    font-family: 'Fjord One';
}

.scrollableContainer {
    height: 70vh;
    width: 68%;
    float: left;
    margin: 1%;
    padding: 1%;
}

.pre-scrollable {
    max-height: 100%;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
    height: 100vh;
}

.userImage {
    display: inline-block;
}

.userStoryPreview {
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

.story-component {
    vertical-align: middle;
    padding: 3%;
    border: 1px solid gray;
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    cursor: pointer;
}

.addStoryBtn {
    position: absolute;
    left: 33%;
    top: 87%;
}

.modal-dialog {
    max-width: 70%;
}

.modal-header {
    display: block;
}

.modal-body {
    white-space: pre-wrap;
}

#title {
    font-family: 'Fjord One';
      font-size: 45px;
  }
  