#title {
	font-family: 'Fjord One';
	font-size: 45px;
}

#content {
    padding: 3%;
    width: 70%;
    float: left;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
}

#title {
	font-family: 'Fjord One';
	  font-size: 45px;
}
  
#tAAimage {
    margin: 0;
    width: 100%;
    height: auto;
}

#btndiv {
	display: inline-block;
	width: 30%;
	margin-left: 10%;
	margin-top: 5%;
	position: fixed;
}

#tablediv {
	display: inline-block;
	width: 50%;
	margin-top: 8%;
	margin-left: 3%;
	height:450px; 
	overflow:auto;
}

#appliance {
	margin-bottom: 7%;
}

#consumption {
	margin-bottom: 1%;
}

.icons {
	display: inline-block; 
	width: 100%;
	height: 100%;
}

.addremovebtn {
	display: inline-block; 
	width: 12%; 
	background-color: Transparent; 
	background-repeat:no-repeat;
    border: none;
    outline:none;
}

#editbtn {
	display: inline-block; 
	width: 14%; 
	background-color: Transparent; 
	background-repeat:no-repeat;
    border: none;
    outline:none;
}

#calcbtn {
	display: block;
	width: 40%;
	margin-top: 10%;
	margin-bottom: 10%;
}

#nr-panels{
	font-family: 'Fjord One';
	font-size: 20px;
	align-content: center;
	margin-right: 60%;
}

#budgetError{
	color: red;
	font-size: 14px;
}