#statisticsDevices
{
  width:100%;
  float:left;
  align-items: center;
}
.dev
{
  width:100%;
  margin:5px;
}
#a1
{
  margin-bottom: 5px;

}
#a2
{
  margin-bottom: 5px;

}
#a3
{
  margin-bottom: 5px;

}
#estimate {
  padding:10px;
}
button a{ color: white; }

.statisticsDevicetitle
{
    overflow-x: scroll;
  width:30%;
  margin-left: 30px;
  float:left;
}
.statisticsDescriptions
{
    overflow-y: scroll;
    margin-left: 30px;
  width:55%;
  height: 40px;
  float:left;
}
#buttonDiv
{
  text-align: center;


}

.chart-container {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

.pie-chart-container {
  height: 360px;
  width: 360px;
  float: left;
}
.modal {
  display: none; /* Hidden by default */
  position:sticky; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: 30px;
  width:90%; /* Full width */
  height: 100%; /* Full height */
  overflow:scroll; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

#close,#save{
  padding:10px;
  background-color: white;
  margin-left:20px;
}

#close:hover,#save:hover{
  background-color: blue;
}
#modalButtons
{
  margin-top:100px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;/* 15% from the top and centered */
  padding: 20px;
  overflow-y: scroll;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#statButton
{
  padding:10px;
  margin:20px;
}
