#dropdownMenuButton{
    background-color: white;
    float: right;
    margin-top: -10px;
}

#greenDiv{
    height: 50px;
    background: rgba(48,150,52,1);
    background: -moz-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,150,52,1)), color-stop(100%, rgba(237,247,240,1)));
    background: -webkit-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
    background: -o-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
    background: -ms-linear-gradient(left, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
    background: linear-gradient(to right, rgba(48,150,52,1) 0%, rgba(237,247,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#309634', endColorstr='#edf7f0', GradientType=1 );
}

#title {
    font-family: 'Fjord One';
      font-size: 45px;
}
  

#backImg{
    height: 600px;
    width: 1700px;
}

#carouselExampleSlidesOnly{
    margin-top: -8px;
}

.display-1{
    margin-top: -100px;
}

.display-1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    font-family: 'Fjord One';
}

#content {
    padding: 3%;
    width: 70%;
    float: left;
    max-height: 70vh;
}

.imageContainer {
    display: inline-block;
    float: right;
    margin: 0;
    width: 30%;
    height: 100vh;
}

#tAAimage {
    margin: 0;
    width: 100%;
    height: 100vh;
}

.selection {
    display: block;
    width: 35%;
    float: left;
}

#advice {
    padding: 4%;
    display: block;
    width: 50%;
    float: right;
    border:1px solid gray;
    visibility: hidden;
}

.custom-select-country {
    margin: 5%;
}

.adviceButton {
    margin: 5%;
}